mat-drawer-container {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.mat-toolbar {
    height: 54px !important;
    overflow-y: hidden;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.branding {
    flex: 1 1 auto;
}

.logo {
    height: 36px;
    margin: 0px 4px 3px 0;
    margin-right: 50px;
}

.with-margin-right {
    margin-right: 5px;
}

a:hover {
    color: #FFF !important;
}

mat-sidenav {
    width: 240px;
}

.mat-list-item {
    padding-left: 10px;
    &:hover {
        color: rgba(0,0,0,.87) !important;
    }
}

mat-drawer {
    position: fixed !important;
    width: 230px;
}

@media screen and (min-width : 1000px) {
    .sidenav {
      display:none;
    }
}