

.mat-toolbar {
    height: 54px !important;    
    margin-top: -2px;
    overflow-y: hidden;
    background: #fff;
    color: #424242;
    border-bottom: 1px solid #EEE;
}

.branding {
    flex: 1 1 auto;
}

.logo {
    height: 30px;
    margin: 6px 4px 3px 0;
    margin-right: 40px;
}

.with-margin-right {
    margin-right: 5px;
}

a:hover {
    color: #FFF !important;
}

mat-sidenav {
    width: 240px;
}

.mat-list-item {
    padding-left: 10px;
    &:hover {
        color: rgba(0,0,0,.87) !important;
    }
}

mat-drawer {
    position: fixed !important;
    width: 230px;
}

@media screen and (min-width : 1000px) {
    .sidenav {
      display:none;
    }
}

mat-search-bar {
    margin-right: 8px;
}

a:hover {
    color: #424242 !important;
}