<mat-drawer-container class="global-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
            <mat-nav-list>
                    <a mat-list-item routerLink="dashboard" routerLinkActive="active">
                            <fa-icon class="with-margin-right" icon="tachometer-alt"></fa-icon>
                        Dashboard
                    </a>
                    <a mat-list-item routerLink="youtube/channels" routerLinkActive="active">
                        <fa-icon class="with-margin-right" icon="tv"></fa-icon>
                            Channels
                    </a>
                    <a mat-list-item routerLink="youtube/videos" routerLinkActive="active">
                        <fa-icon class="with-margin-right" icon="video"></fa-icon>
                            Videos
                    </a>
                </mat-nav-list>
    </mat-drawer>

    <div class="sidenav-content">
            <div class="toolbar">
                    <mat-toolbar>
                        <div class="branding">
                            <img class="logo" src="assets/img/logo-ng-youtube.png" />
                            <button class="d-md-none" mat-icon-button (click)="drawer.toggle()">
                                <fa-icon icon="bars"></fa-icon>
                            </button>
                            <span class="d-none d-md-inline">
                                <button mat-button class="nav-button" routerLink="dashboard" routerLinkActive="active">
                                    <fa-icon class="with-margin-right" icon="tachometer-alt"></fa-icon>
                                    Dashboard
                                </button>
                                <button mat-button class="nav-button" routerLink="youtube/channels" routerLinkActive="active">
                                    <fa-icon class="with-margin-right" icon="tv"></fa-icon>
                                    Channels
                                </button>
                                <button mat-button class="nav-button" routerLink="youtube/videos" routerLinkActive="active">
                                    <fa-icon class="with-margin-right" icon="video"></fa-icon>
                                    Videos
                                </button>
                            </span>
                        </div>
                        <mat-search-bar name="search-bar" (onEnter)="handleEnterClick($event)" (onClose)="handleCloseClick($event)"></mat-search-bar>
                        <button mat-icon-button routerLink="about" routerLinkActive="active">
                            <fa-icon icon="question-circle"></fa-icon>
                        </button>
                        <a class="github-link" matTooltipPosition="before" mat-icon-button class="link d-none d-sm-inline" href="https://github.com/BnSalahFahmi/ng-youtube"
                            target="_blank">
                            <fa-icon class="github" [icon]="['fab','github']"></fa-icon>
                        </a>
                    </mat-toolbar>
                </div>
    </div>

</mat-drawer-container>