.dashboard-container {
    padding: 50px 80px !important;
}

.mat-card-header .mat-card-title {
    margin-left: -50px !important;
}

.paraf-content {
    height: 85px !important;
    overflow: hidden !important;
}