.dashboard-container {
    padding: 50px 80px !important;
}

.mat-card-header .mat-card-title {
    margin-left: -50px !important;
}

.paraf-content {
    height: 85px !important;
    overflow: hidden !important;
}

mat-card {
    border: 1px solid #dddfe2;
    box-shadow: none !important;
}

.cards-container {
    background: #FFF;
    padding: 25px;
    border-radius: 2px;
}

.label-info {
    color: #616770;
    font-size: 14px;
    margin-top: -12px;
    margin-bottom: 13px;
}

.globe-europe {
    color:#385898;
}