<div class="dashboard-container container-fluid">
    <div class="cards-container">
        <div class="row">
            <label class="label-info float-left"><fa-icon class="with-margin-right globe-europe" icon="globe-europe"></fa-icon> Used Librairies</label>
        </div>
        <div class="row">
            <div class="col">
                <mat-card class="example-card" [ngClass]="routeAnimationsElements">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Angular</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../../assets/img/angular.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p class="paraf-content">
                            Javascript framework that enables developers to build complex applications for mobile and Web platforms.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LEARN MORE</button>
                    </mat-card-actions>
                </mat-card>
            </div>


            <div class="col">
                <mat-card class="example-card" [ngClass]="routeAnimationsElements">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>NGRX</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../../assets/img/ngrx.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p class="paraf-content">
                            Framework for building reactive applications in Angular. NgRx provides state management, isolation of side effects, entity
                            collection management, router bindings, code generation, and developer tools that enhance developers
                            experience when building many different types of applications.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LEARN MORE</button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <div class="col">
                <mat-card class="example-card" [ngClass]="routeAnimationsElements">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Angular Material</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../../assets/img/material.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p class="paraf-content">
                            UI component library for Angular developers. Angular Material components help in constructing attractive, consistent, and
                            functional web pages and web applications while adhering to modern web design principles like
                            browser portability, device independence, and graceful degradation.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LEARN MORE</button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <div class="col">
                <mat-card class="example-card" [ngClass]="routeAnimationsElements">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Youtube Data API</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../../assets/img/youtube.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p class="paraf-content">
                            API exposed by youtube to help developers to add a variety of YouTube features to their apps.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LEARN MORE</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>