.jumbotron {
    padding: 65px !important;
    background: #FFF !important;
}

.media-container {
    background: #FFF !important;
    padding: 20px;
    border: 1px solid #dddfe2;
    border-radius: 2px;
}

.media-body {
    margin-left: 30px;
}

.label-info {
    color: #616770;
    font-size: 14px;
    margin-left: 15px;
    margin-top: -5px;
    margin-bottom: 10px;
}

.info {
    color: #385898;
}

button {
    margin-top: 15px;
}

