<div class="jumbotron">
    <div class="media-container">
        <div class="row">
            <label class="label-info float-left">
                <fa-icon class="with-margin-right info" icon="info-circle"></fa-icon> About Developer</label>
        </div>
        <div class="media" [ngClass]="routeAnimationsElements">
            <a class="pull-left" href="https://github.com/BnSalahFahmi">
                <img class="media-object img-thumbnail" src="assets/img/photo.jpg" alt="Fahmi BEN SALAH" />
            </a>
            <div class="media-body">
                This application was developed by Fahmi BEN SALAH
                <br>
                <button mat-stroked-button color="primary" (click)="onNavigate('https://github.com/BnSalahFahmi')">SEE MORE PROJECTS</button>
            </div>
        </div>
    </div>
</div>