iframe {
    margin-top: 0px;
}

.with-margin-right {
    margin-right: 5px;
}

.modal.is-active {
    display: flex;
    background-color: rgba(10, 10, 10, 0.86);
}

.video-player-title {
    color: #546E7A;
    fa-icon {
        margin-right: 3px;
    }
}

.modal {
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    z-index: 40;
}

.modal-background {
    background-color: rgba(10,10,10,.86);
}

.modal-card {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 40px);
    overflow: hidden;
    -ms-overflow-y: visible;
    width: 800px;
    height: 500px;
}

.modal-card-body {
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    padding: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow: hidden;
}


.modal-card-head {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 5px 10px 0px 10px !important;
    font-size: 15px !important;
}

.modal-card-foot, .modal-card-head {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
    padding: 10px;
    position: relative;
}

.video-player-actions {
    position: absolute;
    right: 15px;

    fa-icon {
        cursor: pointer;
    }
}