<div class="video-player-container" *ngIf="embedHTML">
    <div class="video-player-normal" *ngIf="!video_player_full_screen">
        <div class="row">
            <span class="video-player-title">
                <fa-icon icon="info-circle"></fa-icon>
                <i>Video Player</i>
            </span>
            <div class="video-player-actions">
                <fa-icon class="with-margin-right" icon="arrows-alt" (click)="onFullScreenVideoPlayerClick()"></fa-icon>
                <fa-icon *ngIf="video_player_maximized" class="with-margin-right" icon="minus-circle" (click)="onMinimizeVideoPlayerClick()"></fa-icon>
                <fa-icon *ngIf="!video_player_maximized" class="with-margin-right" icon="plus-circle" (click)="onMaximizeVideoPlayerClick()"></fa-icon>
                <fa-icon class="without-margin-right" icon="times-circle" (click)="onCloseVideoPlayerClick()"></fa-icon>
            </div>
        </div>
        <iframe *ngIf="video_player_maximized" width="380px" height="200px" [src]='sanitizer.bypassSecurityTrustResourceUrl(embedHTML)'
            frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="video-player-full" *ngIf="video_player_full_screen">
        <div class="row">
            <span class="video-player-title">
                <fa-icon icon="info-circle"></fa-icon>
                <i>Video Player</i>
            </span>
            <div class="video-player-actions">
                <fa-icon class="with-margin-right" icon="compress-arrows-alt" (click)="onNormalScreenVideoPlayerClick()"></fa-icon>
                <fa-icon *ngIf="video_player_maximized" class="with-margin-right" icon="minus-circle" (click)="onMinimizeVideoPlayerClick()"></fa-icon>
                <fa-icon *ngIf="!video_player_maximized" class="with-margin-right" icon="plus-circle" (click)="onMaximizeVideoPlayerClick()"></fa-icon>
                <fa-icon class="without-margin-right" icon="times-circle" (click)="onCloseVideoPlayerClick()"></fa-icon>
            </div>
        </div>
        <iframe style="position:fixed; top:20px; left:0; bottom:0; right:0; width:100%; height:97.5%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"
            [src]='sanitizer.bypassSecurityTrustResourceUrl(embedHTML)' frameborder="0" webkitallowfullscreen mozallowfullscreen
            allowfullscreen></iframe>
    </div>
</div>