<div class="youtube-container">
    <div class="row" *ngIf="(channels$ | async) as channels" [ngClass]="routeAnimationsElements">
        <div *ngFor="let channel of channels" class="col-2dot4 col-sm-2dot4 col-md-2dot4 col-lg-2dot4 col-xl-2dot4">
            <mat-card class="youtube-card" (click)="ViewChannel(channel.id)">
                <img mat-card-image class="youtube-img-channel" src="{{channel.snippet.thumbnails.default.url}}">
                <span class="item-title">{{channel.snippet.title}}</span>
                <small class="item-sub-count">{{channel.statistics.subscriberCount}} subscribers</small>
            </mat-card>
        </div>
    </div>
    <more-data-search-loader *ngIf="(loading$ | async)"></more-data-search-loader>
</div>