$blue: #3f51b5;
$white: #eee;

// scaling... any units
$width: 100px;

.loader {
  position: relative;
  margin: 0 auto;
  width: $width;
  z-index: 50000;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.circular {
  animation: rotate 2s linear infinite;
  height: 70%;
  transform-origin: center center;
  width: 70%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #FFF;
  border-radius: 50%;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: $blue;
  }
  40% {
    stroke: $blue;
  }
  66% {
    stroke: $blue;
  }
  80%,
  90% {
    stroke: $blue;
  }
}

// demo-specific
body {
  background-color: $white;
}
.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: -60px;
}

.aligned-container {
  height: 100vh;
  width: 100vw;
  line-height: 100vh;
}

.spinner-container,
.spinner-container-main {
  position: fixed;
  background-color: #e0e0e07d;
  width: 100%;
  height: 100%;
  display: block;
  top: 0%;
}

.spinner-container {
  height: 54vh;
}

.spinner-container-main {
  height: 100vh;
}

.spinner {
  position: absolute;
  top: 41%;
  left: 49%;
  width: 50px;
  height: 50px;
  -webkit-animation: sk-rotateplane 0.9s infinite ease-in-out;
  animation: sk-rotateplane 0.9s infinite ease-in-out;
}

.loader-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.559);
  z-index: 999999;
}

@-webkit-keyframes sk-rotateplane {
  0% {
      -webkit-transform: perspective(120px)
  }
  50% {
      -webkit-transform: perspective(120px) rotateY(180deg)
  }
  100% {
      -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
  }
}

@keyframes sk-rotateplane {
  0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }
  50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  }
  100% {
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}