.global-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.pages-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    -webkit-overflow-scrolling: touch;
}

.pages-content {
    overflow-y: auto;
    overflow-x: hidden;
}
